<footer class="footer">
  <div class="container">
    <div class="content">
      <div class="columns">
        <div class="column copyright">
          <div><a href="{{ .Site.BaseURL }}"><img class="icon" src="{{ .Site.BaseURL }}/images/logo.webp" />EMPIRES</a></div>
          <div>© Empires Mod {{ dateFormat "2006" now }}</div>
          <div>All Rights Reserved</div>
        </div>
        <div class="column">
          <div class="heading">SITE</div>
          <div class="item"><a href="{{ .Site.BaseURL }}about-the-game">About the game</a></div>
          <div class="item"><a href="{{ .Site.BaseURL }}posts">Developer blog</a></div>
          <div class="item"><a href="{{ .Site.BaseURL }}faq">Frequently asked questions</a></div>
        </div>
        <div class="column">
          <div class="heading">SOCIAL</div>
          <div class="item"><a href="https://discord.gg/UH6Sc6B" target="_blank"><i class="icon fab fa-fw fa-lg fa-discord"></i>Discord</a></div>
          <div class="item"><a href="https://old.reddit.com/r/Empires/" target="_blank"><i class="icon fab fa-fw fa-lg fa-reddit-alien"></i>Reddit</a></div>
          <div class="item"><a href="https://steamcommunity.com/app/17740/discussions/" target="_blank"><i class="icon fab fa-fw fa-lg fa-steam-symbol"></i>Steam</a></div>
          <div class="item"><a href="https://x.com/empires_mod" target="_blank"><i class="icon fab fa-fw fa-lg fa-x-twitter"></i>X</a></div>
        </div>
      </div>
    </div>
  </div>
</footer>
